<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="support.im.demo">

  <!-- 基础模块（必须加入以下声明）START -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 基础模块 END -->
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
      android:name=".SupportImApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >

    <!--登录选择页面-->
    <activity
        android:name=".features.auth.LoginActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--手机号登录-->
    <activity
        android:name=".features.auth.LoginMobileActivity"
        android:label="@string/label_login_mobile"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.auth.LoginActivity"/>
    </activity>

    <!--注册页面-->
    <activity
        android:name=".features.auth.RegisterActivity"
        android:label="@string/label_register"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.auth.LoginActivity"/>
    </activity>

    <activity
        android:name=".features.main.MainActivity"
        android:launchMode="singleTask">
    </activity>


    <!-- Support im START -->
    <activity
        android:name="support.im.addcontact.AddContactActivity"
        android:launchMode="singleTask"
        android:label="@string/support_im_add_contact">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.main.MainActivity"/>
    </activity>
    <activity
        android:name="support.im.mobilecontact.MobileContactsActivity"
        android:launchMode="singleTask"
        android:label="@string/support_im_mobile_contact">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="support.im.addcontact.AddContactActivity"/>
    </activity>
    <!-- Support im END -->

    <!-- 实时通信模块、推送（若使用该功能，需添加以下声明）START -->
    <service android:name="com.avos.avoscloud.PushService"/>
    <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.USER_PRESENT"/>
      </intent-filter>
    </receiver>
    <!-- 实时通信模块、推送 END -->
    <!-- 反馈组件（若使用该功能，需添加以下声明）START -->
    <activity
        android:name="com.avos.avoscloud.feedback.ThreadActivity">
    </activity>
    <!-- 反馈组件 END -->
  </application>

</manifest>