<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="support.im.demo"
    xmlns:tools="http://schemas.android.com/tools"
    >

  <!-- 基础模块（必须加入以下声明）START -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 基础模块 END -->
  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <uses-sdk tools:overrideLibrary="com.fuck_boilerplate.rx_paparazzo.library,io.victoralbertos.rxactivityresult"/>

  <application
      android:name=".SupportImApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >

    <!--登录选择页面-->
    <activity
        android:name=".features.auth.LoginActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--手机号登录-->
    <activity
        android:name=".features.auth.LoginMobileActivity"
        android:label="@string/label_login_mobile"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.auth.LoginActivity"/>
    </activity>

    <!--注册页面-->
    <activity
        android:name=".features.auth.RegisterActivity"
        android:label="@string/label_register"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.auth.LoginActivity"/>
    </activity>

    <activity
        android:name=".features.main.MainActivity"
        android:launchMode="singleTask">
    </activity>


    <!-- Support im START -->
    <!--添加好友界面-->
    <activity
        android:name="support.im.addcontact.AddContactActivity"
        android:label="@string/support_im_label_add_contacts"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.main.MainActivity"/>
    </activity>

    <!--聊天界面-->
    <activity
        android:name="support.im.chats.ChatsActivity"
        android:label="@string/support_im_label_chats"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.main.MainActivity"/>
    </activity>

    <!--聊天界面-->
    <activity
        android:name="support.im.chats.UserProfileActivity"
        android:label="@string/support_im_label_chats_single_settings"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="support.im.chats.ChatsActivity"/>
    </activity>
    
    <!--用户详情-->
    <activity
        android:name="support.im.detail.UserDetailActivity"
        android:label="@string/support_im_label_user_detail"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.main.MainActivity"/>
    </activity>

    <!--手机联系人-->
    <activity
        android:name="support.im.mobilecontact.MobileContactsActivity"
        android:label="@string/support_im_label_mobile_contact"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="support.im.addcontact.AddContactActivity"/>
    </activity>

    <!--新朋友-->
    <activity
        android:name="support.im.newcontacts.NewContactsActivity"
        android:label="@string/support_im_label_new_contacts"
        android:launchMode="singleTask">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".features.main.MainActivity"/>
    </activity>

    <receiver android:name="support.im.service.InvitationReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <action android:name="@string/support_im_add_request_invitation_action" />
      </intent-filter>
    </receiver>

    <receiver
        android:name="support.im.service.NotificationBroadcastReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="@string/support_im_client_notification_action"/>
      </intent-filter>
    </receiver>

    <!-- 实时通信模块、推送（若使用该功能，需添加以下声明）START -->
    <service android:name="com.avos.avoscloud.PushService"/>
    <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.USER_PRESENT"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>
    <!-- 实时通信模块、推送 END -->
    <!-- 反馈组件（若使用该功能，需添加以下声明）START -->
    <activity
        android:name="com.avos.avoscloud.feedback.ThreadActivity">
    </activity>
    <!-- 反馈组件 END -->
  </application>

</manifest>